@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #6495ED;
}

::-webkit-scrollbar-thumb:hover {
  background: #1E90FF;
}

::-webkit-scrollbar-track {
  background: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #6495ED transparent; /* цвет бегунка и трека */
}

.text-loading-gradient {
  font-weight: 700;
  background: -webkit-repeating-linear-gradient(50deg, black 5%, grey 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
